doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='/stylesheets/'+title+'.css')

    body
         .container-fluid
            ul.nav.justify-content-center.nav-pills
                for link in links
                    if link==activePage
                        li.nav-item
                            a.nav-link.active(href=link)=link
                    else
                        li.nav-item
                            a.nav-link(href=link)=link
            block content

